/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html,body{padding:25;}
body{font: 76% Times,serif;}
p{margin:0 10px 10px;}
a{padding:5px; text-decoration:initial; color:#FFFFFF;}
background{color:#FFA500;}
/**
header{background-color:#F3F2ED;}
header h1{height:80px;line-height:80px;margin:0;padding-left:10px;}
container{text-align:left;}
content p{line-height:1.4;}
navigation{background:#F6F0E0;}
navigation ul{margin:15px 0; padding:0; list-style-type:none;}
navigation li{margin-bottom:5px;}
extra{background:#CCC8B3;}
footer{background:#BFBD93;}
footer p{margin:0;padding:5px 10px;}
container{width:700px;margin:0 auto;}
wrapper{float:left;width:100%;}
content{margin-left: 300px;}
navigation{float:left;width:150px;margin-left:-700px;}
extra{float:left;width:150px;margin-left:-550px;}
footer{clear:left;width:100%;}
**/